<h1 class="m-3">Asah Journal Team</h1>
<div class="card text-center text-bg-dark m-3">
  <div class="card-header">
    Owner
  </div>
  <div class="card-body">
    <h5 class="card-title">I Wayan Jorden Junior, S. Ked.</h5>
    <p class="card-text">Selamat datang di page saya.</p>
    <a href="https://www.linkedin.com/in/jorden-junior-b0522116a" class="btn btn-primary">LinkedIn</a>
  </div>
  <div class="card-footer">
    2019
  </div>
</div>
<div class="card text-center text-bg-dark m-3">
  <div class="card-header">
    Developer
  </div>
  <div class="card-body">
    <h5 class="card-title">I Made Ari Kharismananda Jagatkirana</h5>
    <p class="card-text">Halo, saya developer web disini.</p>
    <a href="https://www.linkedin.com/in/i-made-ari-kharismananda-jagatkirana-b4b8a720b" class="btn btn-primary">LinkedIn</a>
  </div>
  <div class="card-footer">
    2020
  </div>
</div>
<div class="card text-center text-bg-dark m-3">
  <div class="card-header">
    Developer
  </div>
  <div class="card-body">
    <h5 class="card-title">I Gede Naradhiya Khidani Udhaya</h5>
    <p class="card-text">Halo, saya developer web disini.</p>
    <a href="" class="btn btn-primary">LinkedIn</a>
  </div>
  <div class="card-footer">
    2022
  </div>
</div>