<div class="maincontainer">
  <%if (dataprob != '') {%>
  <h1 class="maintitle"><%=dataprob%></h1>
  <%}%>
  <p class="maincontent">Tanggal: <%=Today%></p>

  <form
    action="/resetpassword/<%=User.passwordtoken%>"
    method="post"
    enctype="multipart/form-data"
    class="form-floating mb-3"
  >
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="pass1"
        name="pass1"
        placeholder="Password minimal 8 karakter"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="pass2"
        name="pass2"
        placeholder="Password minimal 8 karakter"
        required
      />
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Reset</button>
    </div>
  </form>
</div>
